body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b; /* Dark background color */
    color: #fff; /* Light text color */
}

/* Header */
.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: #050505;
    color: white;
}

.header-logo {
    margin-right: 10px;
}

.header-logo img {
    max-width: 40px;
    height: 40px;
    border-radius: 50px;
}

.header-name {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(10, 159, 239, 0.9);
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #333; /* Dark container background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjust shadow color */
}

h1 {
    text-align: center;
    color: #fff; /* Light heading color */
}

.content {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ccc; /* Light label color */
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555; /* Dark border color */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444; /* Dark input background color */
    color: #fff; /* Light text color */
}

input[type="file"] {
    margin-top: 5px;
}

.btn-and-send {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: left;
    justify-content: left;
}

button {
    background-color: #025ff3;
    border: 1px solid rgb(2, 63, 82);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #084fb2;
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
}

#messageCounts {
    margin-top: 20px;
}

/* Add this to your CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add this to style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
