/* styles.css */

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.header {
  background-color: #333333;
  padding: 5px 10px;
  border-bottom: 1px solid #444444;
}

h1 {
  color: #61dafb;
}

#centeredSection {
  display: flex;
  justify-content: center;
  align-items: top;
  overflow-y: auto;
}

#recordingsList {
  padding: 10px;
  width: 100%;
}

.recordedItem {
  margin: 10px 0;
  padding: 15px;
  background: linear-gradient(to right, #4f4f4f, #333333);
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#bottomSection {
  display: flex;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 70px;
}

.rounded-button {
  padding: 15px 30px;
  font-size: 16px;
  background-color: #61dafb;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rounded-button:hover {
  background-color: #5094b3;
}
