/* styles.css */

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.header {
  background-color: #333333;
  padding: 5px 10px;
  border-bottom: 1px solid #444444;
}

h1 {
  color: #61dafb;
}

#centeredSection {
  display: flex;
  justify-content: center;
  align-items: top;
  overflow-y: auto;
}

#recordingsList {
  padding: 10px;
  width: 100%;
}

.recordedItem {
  margin: 10px 0;
  padding: 15px;
  background: linear-gradient(to right, #4f4f4f, #333333);
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.recordedItem:hover {
  transform: scale(1.05);
}

.recordedItem p {
  text-align: left;
  margin: 0;
}

#bottomSection {
  display: grid;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 170px;
}

#toggleRecording {
  background: none;
  border: none;
  padding: 0px;
  margin: 0%;
  font-size: 60px;
  color: red;
  border-radius: 50px;
  cursor: pointer;
}



/* Add styling for recording progress time */
#recordingProgress {
  color: #61dafb;
  font-size: 18px;
  margin-top: 10px;
}

/* Add this to your existing CSS */
.recordedItem {
  display: grid;
  grid-template-columns: auto auto;
}

.left-section {
  flex: 1;
  text-align: left;
}

.right-section {
  flex: 1;
  text-align: right;
}


/* Add this to your existing CSS or create a new section */

/* Play/Pause Button Styling */
.playPauseButton {
  background: none;
  border: 1px solid red;
  font-size: 20px;
  cursor: pointer;
  color: #61dafb;
}

.recordedItem .right-section p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.swipeArea {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
