* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
}


body {
  font-family: sans-serif;
  text-align: center;
  background-color: #101010;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: 6vh 73vh 20vh;
  height: 100vh;
  z-index: 0;
}

.header {
  display: flex;
  background-color: #313338;
  border-bottom: 1px solid #444444;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #e9e9e9;
  font-size: 20px;
}

#centeredSection {
  display: flex;
  justify-content: center;
  align-items: top;
  overflow-y: auto;
}

#recordingsList {
  padding: 10px;
  width: 100%;
}

.recordedItem {
  margin: 10px 0;
  padding: 15px;
  background-color: #313338;
  color: #e3e3e3;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto;
}


.recordedItem p {
  text-align: left;
  margin: 0;
}

.audio-box {
  display: grid;
  grid-template-columns: auto auto;
}


.playPauseButton {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-image: url('assets/images/play.png');
}

.recordedItem .right-section p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.recordedItem .right-section .name {
  font-size: 20px;
  color: #e9e9e9;
  font-weight: normal;
}

.recordedItem .right-section .additionalDate {
  font-size: 15px;
  color: #7c7c7c;
}

.swipeArea {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


  .play {
    background-image: url('assets/images/play.png');background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }

  .pause {
    background-image: url('assets/images/pause.png');background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }

  .left-section {
    flex: 1;
    text-align: left;
  }
  
  .right-section {
    flex: 1;
    text-align: right;
  }
  



#bottomSection {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #313338;
  border-radius: 5px 5px 0px 0px;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 20vh;
}

#recordingProgress {
  display: flex;
  color: #f1f3f5;
  font-size: 18px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}


#toggleRecording {
  background: none;
  border: none;
  margin-bottom: 30px;
  border-radius: 50px;
  height: 60px;
  cursor: pointer;
  display: inline-block;
}


#toggleRecordingImg {
  width: 60px;
  height: 60px;
}